* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 0;
  height: 100vh;
}
.left-side {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./images/bg-main-desktop.png") no-repeat;
  background-size: cover;
}
.right-side {
  /* width: 67%; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.card-details {
  position: absolute;
  top: 0;
  left: 0;
}
.input-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* border: 4px solid red; */
  margin-bottom: 8px;
  padding: 10px;
  width: 350px;
}

label {
  font-size: 12px;
  color: rgb(18, 17, 17);
  font-weight: 500;
}
input {
  padding: 10px 40px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  margin-top: 4px;
}

.input-details.date {
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: row;
}
.input-details.date .exp-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 6px solid salmon; */
}
.input-details.date .exp-date .date-inputs {
  display: flex;
  gap: 2px;
}
.input-details .month,
.input-details .year {
  /* border: 2px solid purple; */
  margin-right: 2px;
  width: 70px;
  padding: 10px 12px;
}
.cvc-input {
  width: 100%;
  margin-left: 10px;
}
.cvc-input input {
  width: 100%;
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-top: 12px;
  background: rgb(1, 1, 19);
  cursor: pointer;
  color: white;
}
/* card */
.card-front,
.card-back {
  position: absolute;
  width: 350px;
  height: 200px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
.card-front {
  background: url("./images/bg-card-front.png") no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  top: 20%;
  left: 200px;
}
.card-back {
  background: url("./images/bg-card-back.png") no-repeat;
  top: 50%;
  left: 300px;
  background-size: cover;
}
.card-front .card-circles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.card-front .round-white {
  /* position: absolute;
  top: 20px;
  left: 20px; */
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card-front .round-outline {
  background-color: transparent;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-front p {
  font-size: 32px;
  text-align: center;
  word-spacing: 18px;
  color: #fff;
}
.card-front .card-name {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
  }

  .card-front {
    top: 150px;
    left: 10px;
    z-index: 1;
  }
  .card-back {
    top: 50px;
    left: 60px;
  }

  .left-side {
    height: 30%;
    width: 100%;
  }
  .right-side {
    width: 100%;
    height: 70%;
  }
  form {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form button {
    width: 60%;
    font-size: 16px;
  }
}
